$primary-normal: #06121e;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #ffffff;
$white-dark: #edeaef;
$white-light: #fefbff;

$orange-normal: #ed5b2d;
$orange-dark: #d84c1f;
$orange-light: #e96e48;